tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

# Diretórios temporários e cache
.cache/
undo/
swap/
session/
spell/

# Arquivos gerados pelo Neovim
*.log
*.tmp

# Plugins baixados pelo Lazy.nvim
lazy-lock.json ! # (mantenha esse, é importante para reproduzir versões exatas)

# Diretórios de build de plugins
plugin/

# Arquivos específicos de sistema
.DS_Store
Thumbs.db
lazy-lock.json
