tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

# Diretórios temporários e cache
.cache/
undo/
swap/
session/
spell/

# Arquivos gerados pelo Neovim
*.log
*.tmp


# Diretórios de build de plugins
plugin/

# Arquivos específicos de sistema
.DS_Store
Thumbs.db
lazy-lock.json
